# Updating columns from geometry.

Most desktop GIS software has a calculate geometry operation that will allow you to create a new field or update an existing field with information from the geometry.  We've seen some examples of this in the section on spatial functions for measurement.

# Point geometries

A very common example is creating columns to hold the coordinates of point data, such as a latitude and longitude column.  This is also quite easy in GeoPandas

In [1]:
%matplotlib inline
import geopandas as gpd

raptor = gpd.read_file("data/Raptor_Nests.shp")
raptor.rename(inplace=True, columns={"postgis_fi":"gid", "lat_y_dd":"latitude", "long_x_dd":"longitude"})
raptor

,gid,latitude,longitude,lastsurvey,recentspec,recentstat,Nest_ID,geometry
0,361.0,40.267502,-104.870872,2012-03-16,Swainsons Hawk,INACTIVE NEST,361,POINT (-104.79595 40.29891)
1,362.0,40.264321,-104.860255,2012-03-16,Swainsons Hawk,INACTIVE NEST,362,POINT (-104.78897 40.22089)
2,1.0,38.650081,-105.494251,2014-07-28,Swainsons Hawk,INACTIVE NEST,1,POINT (-105.50223 38.68694)
3,2.0,40.309574,-104.932604,2011-01-06,Swainsons Hawk,INACTIVE NEST,2,POINT (-104.84889 40.35215)
4,3.0,40.219343,-104.729246,2014-07-03,Swainsons Hawk,ACTIVE NEST,3,POINT (-104.74466 40.18571)
...,...,...,...,...,...,...,...,...
874,911.0,40.006950,-104.894370,2015-08-18,Red-tail Hawk,INACTIVE NEST,911,POINT (-104.98394 40.00297)
875,912.0,39.998876,-104.900128,2015-09-01,Red-tail Hawk,INACTIVE NEST,912,POINT (-104.84766 39.96975)
876,NaN,NaN,NaN,2020-05-08,Northern Harrier,INACTIVE NEST,9991,POINT (-104.95039 40.24432)
877,NaN,NaN,NaN,2020-05-05,SWHA,INACTIVE NEST,1001,POINT (-104.94502 40.24443)
878,NaN,40.243865,-104.937170,NaN,RTHA,FLEDGED NEST,1002,POINT (-104.93717 40.24387)

First lets recalculate the existing latitude and longitude columns. Notice that the values in the latitude and longitude columns do not correspond to the values in the wkt expression of the geometry in the geometry column.  This is a result of a number of historical artifacts about this data that are not terribly important right now. Whats important is that we can update them quite easily.

Remember that the geometry column contains Shapely geometry objects and GeoPandas implements most shapely methods and properties for those objects. These properties include the x and y property for points so we can simply assign those attributes to the GeoPandas column as follows.

In [2]:
raptor["latitude"] = raptor["geometry"].y
raptor["longitude"] = raptor["geometry"].x
raptor

,gid,latitude,longitude,lastsurvey,recentspec,recentstat,Nest_ID,geometry
0,361.0,40.298910,-104.795950,2012-03-16,Swainsons Hawk,INACTIVE NEST,361,POINT (-104.79595 40.29891)
1,362.0,40.220890,-104.788970,2012-03-16,Swainsons Hawk,INACTIVE NEST,362,POINT (-104.78897 40.22089)
2,1.0,38.686940,-105.502230,2014-07-28,Swainsons Hawk,INACTIVE NEST,1,POINT (-105.50223 38.68694)
3,2.0,40.352150,-104.848890,2011-01-06,Swainsons Hawk,INACTIVE NEST,2,POINT (-104.84889 40.35215)
4,3.0,40.185710,-104.744660,2014-07-03,Swainsons Hawk,ACTIVE NEST,3,POINT (-104.74466 40.18571)
...,...,...,...,...,...,...,...,...
874,911.0,40.002970,-104.983940,2015-08-18,Red-tail Hawk,INACTIVE NEST,911,POINT (-104.98394 40.00297)
875,912.0,39.969750,-104.847660,2015-09-01,Red-tail Hawk,INACTIVE NEST,912,POINT (-104.84766 39.96975)
876,NaN,40.244317,-104.950392,2020-05-08,Northern Harrier,INACTIVE NEST,9991,POINT (-104.95039 40.24432)
877,NaN,40.244426,-104.945015,2020-05-05,SWHA,INACTIVE NEST,1001,POINT (-104.94502 40.24443)
878,NaN,40.243865,-104.937170,NaN,RTHA,FLEDGED NEST,1002,POINT (-104.93717 40.24387)

This updated existing fields to refelect the current geometry but we could just as easily have created new fields, or fields to hold coordinates in a different CRS

In [3]:
raptor['northing_26913'] = raptor["geometry"].to_crs(epsg=26913).y
raptor['easting_26913'] = raptor["geometry"].to_crs(epsg=26913).x
raptor

,gid,latitude,longitude,lastsurvey,recentspec,recentstat,Nest_ID,geometry,northing_26913,easting_26913
0,361.0,40.298910,-104.795950,2012-03-16,Swainsons Hawk,INACTIVE NEST,361,POINT (-104.79595 40.29891),4.460954e+06,517341.522300
1,362.0,40.220890,-104.788970,2012-03-16,Swainsons Hawk,INACTIVE NEST,362,POINT (-104.78897 40.22089),4.452295e+06,517955.324324
2,1.0,38.686940,-105.502230,2014-07-28,Swainsons Hawk,INACTIVE NEST,1,POINT (-105.50223 38.68694),4.282156e+06,456319.857904
3,2.0,40.352150,-104.848890,2011-01-06,Swainsons Hawk,INACTIVE NEST,2,POINT (-104.84889 40.35215),4.466854e+06,512832.261313
4,3.0,40.185710,-104.744660,2014-07-03,Swainsons Hawk,ACTIVE NEST,3,POINT (-104.74466 40.18571),4.448400e+06,521736.623609
...,...,...,...,...,...,...,...,...,...,...
874,911.0,40.002970,-104.983940,2015-08-18,Red-tail Hawk,INACTIVE NEST,911,POINT (-104.98394 40.00297),4.428087e+06,501370.880842
875,912.0,39.969750,-104.847660,2015-09-01,Red-tail Hawk,INACTIVE NEST,912,POINT (-104.84766 39.96975),4.424411e+06,513009.440402
876,NaN,40.244317,-104.950392,2020-05-08,Northern Harrier,INACTIVE NEST,9991,POINT (-104.95039 40.24432),4.454875e+06,504219.463218
877,NaN,40.244426,-104.945015,2020-05-05,SWHA,INACTIVE NEST,1001,POINT (-104.94502 40.24443),4.454888e+06,504676.731856
878,NaN,40.243865,-104.937170,NaN,RTHA,FLEDGED NEST,1002,POINT (-104.93717 40.24387),4.454826e+06,505344.096923

# Line geometries

Other possibilities exist for line geometries such as the coordinates of the start, end, or mid point.

In [4]:
linear = gpd.read_file("data/Linear_Projects.shp")
linear

,postgis_fi,type,row_width,Project,geometry
0,50,Flowline,20.0,50,"LINESTRING (-104.59795 40.19258, -104.59739 40..."
1,67,Pipeline,50.0,67,"LINESTRING (-105.05555 40.06609, -105.05941 40..."
2,68,Pipeline,50.0,68,"LINESTRING (-105.04607 40.10830, -105.04566 40..."
3,69,Flowline,20.0,69,"LINESTRING (-104.83998 40.21731, -104.83930 40..."
4,70,Flowline,20.0,70,"LINESTRING (-104.77210 40.20982, -104.77193 40..."
...,...,...,...,...,...
1104,1105,Flowline,20.0,1105,"LINESTRING (-104.76461 40.08340, -104.76410 40..."
1105,1106,Pipeline,50.0,1106,"LINESTRING (-104.88730 40.13059, -104.89431 40..."
1106,1107,Pipeline,50.0,1107,"LINESTRING (-104.81084 40.13516, -104.80847 40..."
1107,1108,Pipeline,50.0,1108,"LINESTRING (-104.85211 40.11728, -104.85257 40..."
1108,1109,Pipeline,50.0,1109,"LINESTRING (-104.64490 40.04326, -104.64540 40..."

In these cases, where geopandas doesn't directly implement a method it is possible to work with the shapely geometries in a custom function that is applied to the geometries property. 

The coords property of a Shapely linestring object returns the points that make up the line. If you want to know how many points are in the linestring you can get the length of that list. 

This can get complicated if you have MultiLineString geometries, in which case the number of vertices in each LineString must be summed up. When a column contains both simple and multi geometries you may need to handle each case seperate as below:

In [5]:
def n_points(geom):
    if geom.type == 'LineString':
        return len(geom.coords)
    elif geom.type == 'MultiLineString':
        n_points=0
        for part in geom.geoms:
            n_points += len(part.coords)
        return n_points

linear['n_points'] = linear['geometry'].apply(n_points)
linear.sort_values("n_points")

C:\Users\merve\AppData\Local\Temp\ipykernel_16048\3792805895.py:2: ShapelyDeprecationWarning: The 'type' attribute is deprecated, and will be removed in the future. You can use the 'geom_type' attribute instead.
  if geom.type == 'LineString':
C:\Users\merve\AppData\Local\Temp\ipykernel_16048\3792805895.py:4: ShapelyDeprecationWarning: The 'type' attribute is deprecated, and will be removed in the future. You can use the 'geom_type' attribute instead.
  elif geom.type == 'MultiLineString':

,postgis_fi,type,row_width,Project,geometry,n_points
0,50,Flowline,20.0,50,"LINESTRING (-104.59795 40.19258, -104.59739 40...",2
651,649,Access Road - Estimated,20.0,649,"LINESTRING (-105.03634 39.96394, -105.03638 39...",2
648,646,Extraction,20.0,646,"LINESTRING (-104.69056 40.19208, -104.68759 40...",2
643,641,Access Road - Confirmed,20.0,641,"LINESTRING (-104.66251 40.14244, -104.66250 40...",2
641,639,Access Road - Confirmed,20.0,639,"LINESTRING (-104.62899 40.40126, -104.63138 40...",2
...,...,...,...,...,...,...
300,296,Pipeline,50.0,296,"LINESTRING (-104.92334 40.16080, -104.92333 40...",47
724,723,Access Road - Estimated,20.0,723,"LINESTRING (-104.60523 40.96910, -104.60312 40...",48
316,312,Pipeline,50.0,312,"MULTILINESTRING ((-104.81483 40.20081, -104.81...",51
733,732,Access Road - Estimated,20.0,732,"LINESTRING (-104.46589 40.98460, -104.46438 40...",53
260,255,Pipeline,50.0,255,"MULTILINESTRING ((-104.86652 40.27585, -104.86...",58

Similarly you can use standard python methods to get the first or last point in a LineString and work with the geometries that way.

In [6]:
def end_pt(geom):
    if geom.type == 'LineString':
        return geom.coords[-1]

linear['end'] = linear['geometry'].apply(end_pt)
linear

C:\Users\merve\AppData\Local\Temp\ipykernel_16048\1168164467.py:2: ShapelyDeprecationWarning: The 'type' attribute is deprecated, and will be removed in the future. You can use the 'geom_type' attribute instead.
  if geom.type == 'LineString':

,postgis_fi,type,row_width,Project,geometry,n_points,end
0,50,Flowline,20.0,50,"LINESTRING (-104.59795 40.19258, -104.59739 40...",2,"(-104.59739, 40.19223)"
1,67,Pipeline,50.0,67,"LINESTRING (-105.05555 40.06609, -105.05941 40...",3,"(-105.05939, 40.07871)"
2,68,Pipeline,50.0,68,"LINESTRING (-105.04607 40.10830, -105.04566 40...",3,"(-105.04565, 40.09981)"
3,69,Flowline,20.0,69,"LINESTRING (-104.83998 40.21731, -104.83930 40...",5,"(-104.83735, 40.21665)"
4,70,Flowline,20.0,70,"LINESTRING (-104.77210 40.20982, -104.77193 40...",6,"(-104.76937, 40.20964)"
...,...,...,...,...,...,...,...
1104,1105,Flowline,20.0,1105,"LINESTRING (-104.76461 40.08340, -104.76410 40...",3,"(-104.76365, 40.08392)"
1105,1106,Pipeline,50.0,1106,"LINESTRING (-104.88730 40.13059, -104.89431 40...",19,"(-104.95425, 40.13001)"
1106,1107,Pipeline,50.0,1107,"LINESTRING (-104.81084 40.13516, -104.80847 40...",13,"(-104.7558, 40.1347)"
1107,1108,Pipeline,50.0,1108,"LINESTRING (-104.85211 40.11728, -104.85257 40...",2,"(-104.85257, 40.11729)"
1108,1109,Pipeline,50.0,1109,"LINESTRING (-104.64490 40.04326, -104.64540 40...",2,"(-104.6454, 40.04326)"

Note that these fields now contain tuples, not points but they could easily be converted to Shapely points for a geodataseries or unpacked into x and y columns for each point.

# Linear referencing with Shapely

Shapely has tools for linear referencing and interpolation along a line by distance or proportion.  More info can be found in the Shapely documentation but a simple example to find the midpoint of a line is below.

In [7]:
def mid_point(geom):
    return geom.interpolate(0.5, normalized=True)

linear['mid_pt2'] = linear['geometry'].apply(mid_point)
linear

,postgis_fi,type,row_width,Project,geometry,n_points,end,mid_pt2
0,50,Flowline,20.0,50,"LINESTRING (-104.59795 40.19258, -104.59739 40...",2,"(-104.59739, 40.19223)",POINT (-104.59767 40.19241)
1,67,Pipeline,50.0,67,"LINESTRING (-105.05555 40.06609, -105.05941 40...",3,"(-105.05939, 40.07871)",POINT (-105.05940 40.07110)
2,68,Pipeline,50.0,68,"LINESTRING (-105.04607 40.10830, -105.04566 40...",3,"(-105.04565, 40.09981)",POINT (-105.04566 40.10407)
3,69,Flowline,20.0,69,"LINESTRING (-104.83998 40.21731, -104.83930 40...",5,"(-104.83735, 40.21665)",POINT (-104.83858 40.21695)
4,70,Flowline,20.0,70,"LINESTRING (-104.77210 40.20982, -104.77193 40...",6,"(-104.76937, 40.20964)",POINT (-104.77068 40.20988)
...,...,...,...,...,...,...,...,...
1104,1105,Flowline,20.0,1105,"LINESTRING (-104.76461 40.08340, -104.76410 40...",3,"(-104.76365, 40.08392)",POINT (-104.76420 40.08382)
1105,1106,Pipeline,50.0,1106,"LINESTRING (-104.88730 40.13059, -104.89431 40...",19,"(-104.95425, 40.13001)",POINT (-104.92177 40.12968)
1106,1107,Pipeline,50.0,1107,"LINESTRING (-104.81084 40.13516, -104.80847 40...",13,"(-104.7558, 40.1347)",POINT (-104.78431 40.13054)
1107,1108,Pipeline,50.0,1108,"LINESTRING (-104.85211 40.11728, -104.85257 40...",2,"(-104.85257, 40.11729)",POINT (-104.85234 40.11728)
1108,1109,Pipeline,50.0,1109,"LINESTRING (-104.64490 40.04326, -104.64540 40...",2,"(-104.6454, 40.04326)",POINT (-104.64515 40.04326)

# Polygon geometries

GeoPandas implements a centroid and representative_point method as we have discussed previously.  More complex geometrical calculations can be achieved by applying custom functions to shapely objects as we did with linear geometries.